{
  "openapi": "3.1.0",
  "info": {
    "title": "DomainBreezy API",
    "version": "1.0.0",
    "description": "API for generating domain names, checking availability, and creating DomainBreezy checkout sessions."
  },
  "servers": [
    {
      "url": "https://domainbreezy.com/api"
    }
  ],
  "paths": {
    "/generate-domains": {
      "post": {
        "operationId": "generateDomains",
        "summary": "Generate domain name ideas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idea": {
                    "type": "string",
                    "description": "The user's business, product, app, brand, or project idea."
                  }
                },
                "required": ["idea"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated domain suggestions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "type": {
                            "type": "string",
                            "enum": ["brandable", "descriptive", "emotional", "seo", "short"]
                          },
                          "reason": { "type": "string" }
                        },
                        "required": ["name", "type", "reason"]
                      }
                    }
                  },
                  "required": ["domains"]
                }
              }
            }
          }
        }
      }
    },
    "/check-availability": {
      "post": {
        "operationId": "checkAvailability",
        "summary": "Check domain availability",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "registrars": {
                    "type": "array",
                    "description": "Optional registrar list to include in purchase options.",
                    "items": {
                      "type": "string",
                      "enum": ["namecheap", "cloudflare", "dnsimple", "porkbun"]
                    }
                  }
                },
                "required": ["domains"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain availability results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": { "type": "string" },
                          "available": { "type": "boolean" },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "registrar": {
                                  "type": "string",
                                  "enum": ["namecheap", "cloudflare", "dnsimple", "porkbun"]
                                },
                                "connected": { "type": "boolean" },
                                "purchasableInChat": { "type": "boolean" },
                                "basePriceUsd": { "type": "number" },
                                "totalPriceUsd": { "type": "number" },
                                "currency": { "type": "string", "enum": ["USD"] },
                                "action": {
                                  "type": "string",
                                  "enum": ["purchase_in_chat", "connect_account", "external_checkout"]
                                },
                                "connectUrl": { "type": "string" },
                                "note": { "type": "string" }
                              },
                              "required": [
                                "registrar",
                                "connected",
                                "purchasableInChat",
                                "basePriceUsd",
                                "totalPriceUsd",
                                "currency",
                                "action",
                                "note"
                              ]
                            }
                          }
                        },
                        "required": ["domain", "available", "options"]
                      }
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          }
        }
      }
    },
    "/create-checkout-session": {
      "post": {
        "operationId": "createCheckout",
        "summary": "Create Stripe checkout session for DomainBreezy Instant Secure",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The selected domain name."
                  }
                },
                "required": ["domain"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stripe checkout URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkout_url": { "type": "string" }
                  },
                  "required": ["checkout_url"]
                }
              }
            }
          }
        }
      }
    },
    "/registrar-connections": {
      "get": {
        "operationId": "getRegistrarConnections",
        "summary": "Get registrar connection status for current session",
        "responses": {
          "200": {
            "description": "Connection status by registrar."
          }
        }
      }
    },
    "/connect-registrar": {
      "post": {
        "operationId": "connectRegistrar",
        "summary": "Connect a registrar account for in-chat purchase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "registrar": { "type": "string", "enum": ["cloudflare"] },
                      "accountId": { "type": "string" },
                      "apiToken": { "type": "string" }
                    },
                    "required": ["registrar", "accountId", "apiToken"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "registrar": { "type": "string", "enum": ["dnsimple"] },
                      "accountId": { "type": "string" },
                      "apiToken": { "type": "string" },
                      "registrantId": { "type": "string" }
                    },
                    "required": ["registrar", "accountId", "apiToken", "registrantId"]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "registrar": { "type": "string", "enum": ["porkbun"] },
                      "apiKey": { "type": "string" },
                      "secretApiKey": { "type": "string" }
                    },
                    "required": ["registrar", "apiKey", "secretApiKey"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registrar connection saved for current session."
          }
        }
      }
    },
    "/purchase-domain": {
      "post": {
        "operationId": "purchaseDomain",
        "summary": "Attempt in-chat domain registration with selected registrar",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": { "type": "string" },
                  "registrar": {
                    "type": "string",
                    "enum": ["namecheap", "cloudflare", "dnsimple", "porkbun"]
                  },
                  "expectedTotalPriceUsd": { "type": "number" }
                },
                "required": ["domain", "registrar", "expectedTotalPriceUsd"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchase outcome, connection requirement, or checkout fallback."
          }
        }
      }
    }
  }
}
